In [114]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np

In [124]:
url = 'http://olympanalyt.com/OlympAnalytics.php?param_pagetype=ResultsOfCountries&param_dbversion=&param_country=QAT&param_games=ALL&param_sport=ALL'
df = pd.read_html(url, header = 1)[1]

In [119]:
df

   Medal Athletes  Games  Sport  Event Event.1
0      0    Total  Total  Total  Total   Total

In [125]:
df = df.iloc[:-1 , :]

In [126]:
df

,Medal,Athletes,Games,Sport,Event,Event.1
0,NaN,Mohamed Ahmed SULAIMAN,1992 Barcelona,Athletics,Men's,1500m
1,NaN,Саид Асаад,2000 Sydney,Weightlifting,Men's,94 - 105kg (heavyweight)
2,NaN,Mutaz Essa BARSHIM,2012 London,Athletics,Men's,high jump
3,NaN,Nasser AL-ATTIYAH,2012 London,Shooting,Men's,Skeet
4,NaN,BARSHIM Mutaz Essa,2016 Rio de Janeiro,Athletics,Men's,high jump
5,NaN,BARSHIM Mutaz Essa,2021 Tokyo,Athletics,Men's,high jump
6,NaN,ELBAKH Fares Ibrahim E H,2021 Tokyo,Weightlifting,Men's,96kg
7,NaN,TIJAN AhmedYOUNOUSSE Cherif,2021 Tokyo,Beach Volleyball,Men's,beach volleyball

In [121]:
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
table = soup.findAll('table')[2]

links = []
for tr in table.findAll("tr"):
    trs = tr.findAll("td")
    for each in trs:
        link = each.find('img')
#         print(link)
        try:
            link = each.find('img')['src']
            if "Medal" in link:
                links.append(link)
        except:
            pass

df['links'] = links

In [122]:
if df.shape[0] == 0:
    df1 = pd.DataFrame([[np.nan] * len(df.columns)], columns=df.columns)
    df = df1.append(df, ignore_index=True)

In [123]:
df

   Medal Athletes Games Sport Event Event.1  links
0    NaN      NaN   NaN   NaN   NaN     NaN    NaN

In [106]:
df.head()

AttributeError: 'function' object has no attribute 'head'