In [10]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [8]:
url = 'http://olympanalyt.com/OlympAnalytics.php?param_pagetype=ResultsOfCountries&param_dbversion=&param_country=QAT&param_games=ALL&param_sport=ALL'
df = pd.read_html(url)[2]

In [9]:
df.head()

  Results at Games                                               \
             Medal                Athletes                Games
0              NaN  Mohamed Ahmed SULAIMAN       1992 Barcelona
1              NaN              Саид Асаад          2000 Sydney
2              NaN      Mutaz Essa BARSHIM          2012 London
3              NaN       Nasser AL-ATTIYAH          2012 London
4              NaN      BARSHIM Mutaz Essa  2016 Rio de Janeiro


           Sport  Event                   Event.1
0      Athletics  Men's                     1500m
1  Weightlifting  Men's  94 - 105kg (heavyweight)
2      Athletics  Men's                 high jump
3       Shooting  Men's                     Skeet
4      Athletics  Men's                 high jump

In [23]:
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
table = soup.findAll('table')[2]

links = []
for tr in table.findAll("tr"):
    trs = tr.findAll("td")
    for each in trs:
        link = each.find('img')
#         print(link)
        try:
            link = each.find('img')['src']
            links.append(link)
        except:
            pass

print(links)

['Images/Medal_Bronze.png', 'Images/Flag_ESP.png', 'Images/Sport_Athletics.png', 'Images/Medal_Bronze.png', 'Images/Flag_AUS.png', 'Images/Sport_Weightlifting.png', 'Images/Medal_Bronze.png', 'Images/Flag_GBR.png', 'Images/Sport_Athletics.png', 'Images/Medal_Bronze.png', 'Images/Flag_GBR.png', 'Images/Sport_Shooting.png', 'Images/Medal_Silver.png', 'Images/Flag_BRA.png', 'Images/Sport_Athletics.png', 'Images/Medal_Gold.png', 'Images/Flag_JPN.png', 'Images/Sport_Athletics.png', 'Images/Medal_Gold.png', 'Images/Flag_JPN.png', 'Images/Sport_Weightlifting.png', 'Images/Medal_Bronze.png', 'Images/Flag_JPN.png', 'Images/Sport_Beach_Volleyball.png']