In [22]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np
from tqdm import tqdm

In [23]:
url = 'http://olympanalyt.com/OlympAnalytics.php?param_pagetype=ResultsOfCountries&param_dbversion=&param_country=QAT&param_games=ALL&param_sport=ALL'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
table = soup.findAll('table')[0]
# print(table)
countries = []
for tr in table.findAll("tr"):
    trs = tr.findAll("td")
    for each in trs:
        optionAll = each.findAll('option')
        for option in optionAll:
            try:
                if len(option['value']) == 3 and option['value'] != 'ALL':
                    countries.append(option['value'])
            except:
                continue

In [24]:
print(countries)

['AFG', 'ALB', 'ALG', 'ASA', 'AND', 'ANG', 'ANT', 'ARG', 'ARM', 'ARU', 'AUS', 'AUT', 'AZE', 'BAH', 'BRN', 'BAN', 'BAR', 'BLR', 'BEL', 'BIZ', 'BEN', 'BER', 'BHU', 'BOL', 'BIH', 'BOT', 'BRA', 'BRU', 'BUL', 'BUR', 'BDI', 'CAM', 'CMR', 'CAN', 'CPV', 'CAY', 'CAF', 'CHA', 'CHI', 'CHN', 'TPE', 'COL', 'COM', 'CGO', 'COD', 'COK', 'CRC', 'CIV', 'CRO', 'CUB', 'CYP', 'CZE', 'DEN', 'DJI', 'DMA', 'DOM', 'ECU', 'EGY', 'ESA', 'GEQ', 'ERI', 'EST', 'SWZ', 'ETH', 'FIJ', 'FIN', 'FRA', 'GAB', 'GAM', 'GEO', 'GER', 'GHA', 'GBR', 'GRE', 'GRN', 'GUM', 'GUA', 'GUI', 'GBS', 'GUY', 'HAI', 'HON', 'HKG', 'HUN', 'ISL', 'IND', 'INA', 'IRI', 'IRQ', 'IRL', 'ISR', 'ITA', 'JAM', 'JPN', 'JOR', 'KAZ', 'KEN', 'KIR', 'PRK', 'KOR', 'KOS', 'KUW', 'KGZ', 'LAO', 'LAT', 'LBN', 'LES', 'LBR', 'LBA', 'LIE', 'LTU', 'LUX', 'MAD', 'MAW', 'MAS', 'MDV', 'MLI', 'MLT', 'MHL', 'MTN', 'MRI', 'MEX', 'FSM', 'MDA', 'MON', 'MGL', 'MNE', 'MAR', 'MOZ', 'MYA', 'NAM', 'NRU', 'NEP', 'NED', 'NZL', 'NCA', 'NIG', 'NGR', 'MKD', 'NOR', 'OMA', 'PAK', 'PLW', 'PLE', 'PAN', 'PNG', 'PAR', 'PER', 'PHI', 'POL', 'POR', 'PUR', 'QAT', 'ROU', 'RUS', 'RWA', 'SKN', 'LCA', 'VIN', 'SAM', 'SMR', 'STP', 'KSA', 'SEN', 'SRB', 'SEY', 'SLE', 'SGP', 'SVK', 'SLO', 'SOL', 'SOM', 'RSA', 'SSD', 'ESP', 'SRI', 'SUD', 'SUR', 'SWE', 'SUI', 'SYR', 'TJK', 'TAN', 'THA', 'TLS', 'TOG', 'TGA', 'TTO', 'TUN', 'TUR', 'TKM', 'TUV', 'UGA', 'UKR', 'UAE', 'USA', 'URU', 'UZB', 'VAN', 'VEN', 'VIE', 'IVB', 'ISV', 'YEM', 'ZAM', 'ZIM', 'ANZ', 'BOH', 'BWI', 'TCH', 'FRG', 'GDR', 'IOP', 'COR', 'MAL', 'AHO', 'NBO', 'OAR', 'ROC', 'RU1', 'SAR', 'SCG', 'EUN', 'EUA', 'URS', 'YAR', 'YMD', 'YUG', 'IOA', 'ZZX', 'ROT']

In [25]:
for i in countries[0:1]:
    url = 'http://olympanalyt.com/OlympAnalytics.php?param_pagetype=ResultsOfCountries&param_dbversion=&param_country=%s&param_games=ALL&param_sport=ALL' % (i)
    df = pd.read_html(url, header = 1)[1]

In [26]:
df

   Medal         Athletes         Games      Sport  Event     Event.1
0    NaN  Rohullah NIKPAI  2008 Beijing  Taekwondo  Men's     - 58 kg
1    NaN  Rohullah NIKPAI   2012 London  Taekwondo  Men's  58 - 68 kg
2    2.0            Total         Total      Total  Total       Total

In [27]:
df = df.iloc[:-1 , :]

In [28]:
df

   Medal         Athletes         Games      Sport  Event     Event.1
0    NaN  Rohullah NIKPAI  2008 Beijing  Taekwondo  Men's     - 58 kg
1    NaN  Rohullah NIKPAI   2012 London  Taekwondo  Men's  58 - 68 kg

In [29]:
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
table = soup.findAll('table')[2]

links = []
for tr in table.findAll("tr"):
    trs = tr.findAll("td")
    for each in trs:
        link = each.find('img')
#         print(link)
        try:
            link = each.find('img')['src']
            if "Medal" in link:
                links.append(link)
        except:
            pass

df['links'] = links

<ipython-input-29-1cc030da8310>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['links'] = links

In [30]:
if df.shape[0] == 0:
    df1 = pd.DataFrame([[np.nan] * len(df.columns)], columns=df.columns)
    df = df1.append(df, ignore_index=True)

In [31]:
df['country'] = i

<ipython-input-31-33c2e2fc4b77>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['country'] = i

In [32]:
df.head()

,Medal,Athletes,Games,Sport,Event,Event.1,links,country
0,NaN,Rohullah NIKPAI,2008 Beijing,Taekwondo,Men's,- 58 kg,Images/Medal_Bronze.png,AFG
1,NaN,Rohullah NIKPAI,2012 London,Taekwondo,Men's,58 - 68 kg,Images/Medal_Bronze.png,AFG

In [44]:
for i in tqdm(countries[2:]):
    try:
        url = 'http://olympanalyt.com/OlympAnalytics.php?param_pagetype=ResultsOfCountries&param_dbversion=&param_country=%s&param_games=ALL&param_sport=ALL' % (i)
        df1 = pd.read_html(url, header = 1)[1]
        df1 = df1.iloc[:-1 , :]
        response = requests.get(url)
        soup = BeautifulSoup(response.text, 'html.parser')
        table = soup.findAll('table')[2]

        links = []
        for tr in table.findAll("tr"):
            trs = tr.findAll("td")
            for each in trs:
                link = each.find('img')
    #         print(link)
                try:
                    link = each.find('img')['src']
                    if "Medal" in link:
                        links.append(link)
                except:
                    pass

        df1['links'] = links
        if df1.shape[0] == 0:
            df2 = pd.DataFrame([[np.nan] * len(df1.columns)], columns=df1.columns)
            df1 = df2.append(df1, ignore_index=True)
        df1['country'] = i
        df = df.append(df1, ignore_index = True)
    except Exception as e:
        print(e)
        print(i)

100%|████████████████████████████████████████████████████████████████████████████████| 229/229 [07:18<00:00,  1.92s/it]

In [54]:
df.dtypes

Medal       float64
Athletes     object
Games        object
Sport        object
Event        object
Event.1      object
links        object
country      object
dtype: object

In [56]:
df = df.fillna("NaN")

In [57]:
df.head()

,Medal,Athletes,Games,Sport,Event,Event.1,links,country
0,NaN,Rohullah NIKPAI,2008 Beijing,Taekwondo,Men's,- 58 kg,Images/Medal_Bronze.png,AFG
1,NaN,Rohullah NIKPAI,2012 London,Taekwondo,Men's,58 - 68 kg,Images/Medal_Bronze.png,AFG
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ALB
3,NaN,Mohamed ZAOUI,1984 Los Angeles,Boxing,Men's,71 - 75kg (middleweight),Images/Medal_Bronze.png,ALG
4,NaN,Mustapha MOUSSA,1984 Los Angeles,Boxing,Men's,75 - 81kg (light-heavyweight),Images/Medal_Bronze.png,ALG

In [58]:
def medals(x):
    medal = None
    if "Gold" in x:
        medal = 'Gold'
    elif "Silver" in x:
        medal = 'Silver'
    elif "Bronze" in x:
        medal = 'Bronze'
    else:
        medal = x
    return medal

In [59]:
df['medals_corrected'] = df['links'].apply(lambda x: medals(x))

In [62]:
df.to_csv("olympics_2020.csv", index = None)